.sc-enter {
  opacity: 0;
  transform: scale(0.5);
}
.sc-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.stripe {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.stripe-enter {
  opacity: 0;
}
.stripe-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.stripe-exit {
  opacity: 0;
}
.stripe-exit-active {
  opacity: 1;
  transition: opacity 500ms;
}

.title-enter {
  opacity: 0;
}
.title-enter-active {
  opacity: 1;
  animation: 500ms ease-in slideInFromTop;
  transition: opacity 500ms;
}


@keyframes slideInFromTop {
  0% {
      transform: translateY(-50%);
  }
  100% {
      transform: translateX(0);
  }
}

.info-enter {
  opacity: 0;
}
.info-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
